@font-face {
  font-family: bertholdBaskerville;
  src: url(Resources/Fonts/BaskervilleBE-Regular.otf);
}

@font-face {
  font-family: lifeCraft;
  src: url(Resources/Fonts/LifeCraft_Font.ttf);
}

* {
  margin: 0;
  padding: 0;
}

.masterContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.bodyContainer {
  background-color: black;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: lifeCraft;
  font-size: 70px;
}

.header-logo {
  height: 150px;
  width: 200px;
}
.leftNav {
  background-color: blueviolet;
  width: 15%;
  display: flex;
  flex-direction: column;
}

.leftNavBox {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 10px solid red;
  justify-content: space-between;
  align-items: center;
}

.leftNavHeader {
  margin-top: 70px;
  margin-bottom: 50px;
  font-family: lifeCraft;
  font-size: 50px;
}

.imageButton {
  height: 150px;
  width: 200px;
}

.centerBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  flex-grow: 5;
  overflow: 0;
}

.scrollable-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  border: 1px solid #ccc;
  height: 100%;
  width: 15%;
  padding-right: 10px;
  background-color: aliceblue;
}

.scrollable-box .simplebar-track.simplebar-vertical {
  width: 10px;
  left: 0;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.scrollable-box .simplebar-scrollbar.simplebar-visible:before {
  border-radius: 5px;
  left: 0;
}

.scrollable-box .simplebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.simplebar-scrollbar:before {
  opacity: 1 !important;
}

.scrollImage {
  width: 200px;
  height: 200px;
  margin: 5px;
}

.carousel {
  border: 1px solid black;
  position: relative;
  height: 50%;
  width: 99%;
  margin: 5px;
  overflow-x: auto;
  overflow-y: hidden;
}

.slides {
  display: flex;
  height: max-content;
}

.slides img {
  width: 100%;
  height: auto;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.footerContainer {
  background-color: aquamarine;
  flex-grow: 1;
  height: 100px;
}

#mySecondScrollableBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  background-color: aliceblue;
  border: 1px solid #ccc;
  height: 100%;
  width: 99%;
  margin: 10x auto;
}
