* {
  margin: 0;
  padding: 0;
}

.masterContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;

}

.headerContainer {
  display: flex;
  background-color: blue;
  height: 100px;
  flex-grow: 0;
}

.wowLogo {
  margin-left: auto;
}

.headerLogo {
  margin-left: 25px;
  margin-right: auto;
}

.bodyContainer {
  background-color: palegreen;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.leftNav {
  background-color: blueviolet;
  flex-grow: 1;
}

.centerBody {
  background-color: bisque;
  flex-grow: 5;
}

.scrollable-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  border: 1px solid #ccc;
  height: 100%;
  width: 15%;
  padding-right: 10px;
}

.scrollable-box .simplebar-track.simplebar-vertical {
  width: 10px;
  left: 0;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.scrollable-box .simplebar-scrollbar.simplebar-visible:before {
  border-radius: 5px;
  left: 0;
}

.scrollable-box .simplebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.simplebar-scrollbar:before {
  opacity: 1 !important;
}

.scrollImage {
  width: 200px;
  height: 200px;
  margin: 5px;
}


.footerContainer {
  background-color: aquamarine;
  flex-grow: 1;
  height: 100px;
}
