* {
  margin: 0;
  padding: 0;
}

.masterContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.headerContainer {
  display: flex;
  background-color: blue;
  height: 100px;
  flex-grow: 0;
}

.wowLogo {
  margin-left: auto;
}

.headerLogo {
  margin-left: 25px;
  margin-right: auto;
}

.bodyContainer {
  background-color: palegreen;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.leftNav {
  background-color: blueviolet;
  width: 15%;
  display: flex;
  flex-direction: column;
}

.leftNavTop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 2;
}

.leftNavBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  border: 10px solid red;
}

#wowHead {
  background-image: url(Resources/Images/wowhead.png);
  height: 100px;
  width: 100px;
}

.centerBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque;
  flex-grow: 5;
  overflow: 0;
}

.scrollable-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  border: 1px solid #ccc;
  height: 100%;
  width: 15%;
  padding-right: 10px;
}

.scrollable-box .simplebar-track.simplebar-vertical {
  width: 10px;
  left: 0;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.scrollable-box .simplebar-scrollbar.simplebar-visible:before {
  border-radius: 5px;
  left: 0;
}

.scrollable-box .simplebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.simplebar-scrollbar:before {
  opacity: 1 !important;
}

.scrollImage {
  width: 200px;
  height: 200px;
  margin: 5px;
}

.carousel {
  border: 1px solid black;
  position: relative;
  height: 50%;
  width: 99%;
  margin: 5px;
  overflow-x: auto;
  overflow-y: hidden;
}

.slides {
  display: flex;
  height: max-content;
}

.slides img {
  width: 100%;
  height: auto;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.footerContainer {
  background-color: aquamarine;
  flex-grow: 1;
  height: 100px;
}

#mySecondScrollableBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  border: 1px solid #ccc;
  height: 100%;
  width: 99%;
  margin: 10x auto;
}
